$(function(){
 if($('#<%=@skill%>').length > 0){
  alert('<%=@userskill.user.email%> already has this skill')
 } else {

  $("#skills_container").append(
    "<h3 id='<%=@skill%>'><%=@skill%></h3>")
    }
})
