<header class='masthead text-center'>
    <div class='header-content mx-auto'>
        <h1> where apps get started.</h1>
        <button class='btn btn-primary'> Get Started</button>
    </div>
</header>

<section class='section-alt'>
    <div class='container app-container'>
        <div class='faq-content text-center'><i class="fa fa-user-circle-o fa-7x" aria-hidden="true"></i><h1> Step 1</h1><H3 class='text-muted'>Create you app and post it on app spark.</H3></div>
        <div class='faq-content text-center'><i class="fa fa-tasks fa-7x" aria-hidden="true"></i><p><h1>Step 2</h1><h3 class='text-muted'>Find collaborator and gather a team to work on your project.</h3></p></div>
        <div class='faq-content text-center'><i class="fa fa-globe fa-7x" aria-hidden="true"></i><p><h1>Step 3</h1><h3 class='text-muted'> Release your app and change the world.</h3></p></div>
    </div>
</section>

<section class='section-primary'>
  <div class='container mini-header'>
    <h1>Most Popular</h1>
    <button class='ml-auto'> See All</button>
  </div>
  <div class='container app-container'>
    <%= render './apps/pop_apps' %>
  </div>
  <div class='container mini-header'>
  <h1>Newest</h1>
    <button class='ml-auto'> See All</button>
  </div>
  <div class='container app-container'  id='apps'>
    <%= render './apps/apps' %>
    
  </div>
  <div id='loader'></div>

</section>


  <footer class="s24-bar text-color-white">

    <!-- Put any utility content here, such as social icons -->
    <div class="s24-bar__utilities w-full bg-color-black  m-a-0">
      <div class="container">
        <div class="row m-y">
          <div class="col-sm-8">
            <h4>AppSpark is about helping one another</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="col-sm-4">
            <h4>Address</h4>
            <address>
              <strong>Company, Inc.</strong><br>
              12345 Name Street, Suite 900<br>
              San Francisco, CA 94103<br>
              <abbr title="Phone">P:</abbr> (123) 555-2424
            </address>
          </div>
        </div>
      </div>
    </div>

    <!-- Put any utility content here, such as social icons -->
    <div class="s24-bar__utilities w-full bg-color-black-secondary m-a-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <p style="margin-top: 14px;">
              Copyrights © All Rights Reserved by <a class="s24-link s24-link--effect-alpha" href="#">Company</a>
            </p>
          </div>
          <div class="col-sm-3 text-xs-left text-sm-right">
            <p>end</p>
          </div>
        </div>
      </div>
    </div>
  
  </footer>
<!--    <div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
<!--  var js, fjs = d.getElementsByTagName(s)[0];-->
<!--  if (d.getElementById(id)) return;-->
<!--  js = d.createElement(s); js.id = id;-->
<!--  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1443386915732607';-->
<!--  fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->
<!--    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="recommend" data-size="large" data-show-faces="true" data-share="true"></div>-->
