<h1><%=current_user.email%> Profile</h1>

<%= render "./userskills/dropdown" %>

<h2> SKILLS </h2>
<% current_user.skills.each do |x| %>
<h3><%= x.skill%></h3>
<% end %>
<div id="skills_container">

</div>
