<h1><%=@user.email%> Profile</h1>

<%= render "./skills/dropdown" %>

<button type="button" name="button">Add Skills</button>
<h2> SKILLS </h2>
<% @skills.each do |x| %>
<h3><%= x.skill%></h3>
<% end %>
