
  <h2> COMMITMENTS </h2>
 <% @app.commitments.each do |x| %>
 <p>


   <%=link_to user_path(@app.user) do %>
     <%= image_tag attachment_url(@app.user, :image, :fill, 50, 50, fallback: "default-commitments.jpg") %>
   <%end%>


 <%=link_to x.user.email, user_path(x.user.id), :class => "alt_a"%></p>
 <% end %>
 <div id="commitment_container">
 </div>
