
<div class="app-container top_margin container">
    <% if @apps.length < 1 %>
            <div class='self-centered'>
                <h3> Derp! No results found.</h3>
            </div>
    <%else %>
        <%= render 'apps' %><br>
        <div class ="pagination"><%= will_paginate @apps %></div>
    <% end %>
</div>
