
<div class="app_container">
    <%= render 'apps' %><br>
    <div class="panel panel-default app_width">
        <div class="panel-heading ">
            <h1 class="panel-title">Create an App
            </h1>
        </div>
        <div class="panel-body">
            <h1 class="center-text"><%= link_to "New App", new_app_path %></h1>
        </div>
    </div>
</div>
