<%= render 'app' %>

<h2> COMMITMENTS </h2>
<% @app.commitments.each do |x| %>
<p><%= x.user.email%></p>
<% end %>

<div id="commitment_container">
</div>

<%= render './commitments/commitment_button' %>
