<div class="app_show_container">
<%= render 'app' %>
<div class="git_container">
  <h2>GIT HUB HISTORY</h2>
</div>
<%= render './commitments/commitments' %>
<div class="comments_container">
  <h2>COMMENT</h2>
</div>
</div>
