<div class="app_show_container">
<%= render 'app' %>
<hr>

<div class="single_app git_container">
  <h2>GIT HUB HISTORY</h2>
</div>

<div class="single_app commiters_container">
  <%= render './commitments/commitments' %>
  <%= render './commitments/commitment_button' %>
</div>

<div class="single_app comments_container">
  <h2>COMMENTS</h2>
</div>

</div>
