<div class="app_show_container">
<%= render 'app' %>
<div class="git_container">
  <h2>GIT HUB HISTORY</h2>
</div>
<div class="commiters_container">
   <h2> COMMITMENTS </h2>
 <% @app.commitments.each do |x| %>
 <p><%=link_to x.user.email, user_path(x.user.id)%></p>
 <% end %>
 </div>

 -<div id="commitment_container">
<%= render './commitments/commitments' %>
<div class="comments_container">
  <h2>COMMENT</h2>
</div>
</div>
