
@mixin section-style($color){
    padding: 50px 0;
    background-color: $color;
}

@mixin general-container(){
    display: flex;
    flex-wrap: wrap;
}

@mixin nav-margin(){
    margin-top: 56px;
}

