/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Rubik');
 @import url('https://fonts.googleapis.com/css?family=Oswald');



 body{
   background-color: #fcfcfc;
   font-family: 'Rubik', sans-serif;
 }
 h1, .h1 {
    font-size: 3em;
}

 a{
   color: #FF6600;
 }

.headline{
  font-size: 1.5em;
}
p{
color:#545454;
font-size: 1em;
}
 .alt_a{
   color:#006bb3;
 }

 .darker_main{
   background-color: #e65c00;
 }

 ul.nav a:hover{
   color:  #FF6600 !important;
 }

 .panel-title > a:hover{
   color:  #FF6600 !important;
 }

 .navbar-default .navbar-brand{
   font-family: 'Oswald', sans-serif;
   color: #FF6600;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px white;
   font-size: 48px;
 }

 .label-main{
 background-color: #FF6600;
 }

 .app_container{
   display:flex;
   justify-content: space-around;
   align-items: stretch;
   flex-wrap: wrap;
 }

 .single_app{
   border: 1px solid #e6e6e6;
   flex: 0 1 auto;
   width:350px;
   margin: 10px;
   min-height: 400px;

 }

 .navbar-default {
    background-color: #393a40;
    border-color: #393a40;

}
.navbar-default .navbar-nav > li > a {
    color: #fcfcfc;
}

.flex-center{
  margin: 0 auto;
}


.small-app-detail{
}
 .mini-app-detail {
   align-self: flex-end;
   display: flex;
   justify-content: space-around;
   align-items:center;
   height: 40px;
 }

 .label {
     display: inline;
     padding: .2em .6em .3em;
     font-size: 100%;
     font-weight: bold;
     line-height: 1;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: .25em;
 }

 hr {
     height: 2px;
     background-color: rgba(85, 85, 85, 0.05);
     margin-top: 20px;
     margin-bottom: 20px;
     width: 75%;
 }

 .app_show_container{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: baseline;
 }
 .creator_container{
   flex: 0 0 15%;
   margin: 10px;
 }
 .creator_container img{
   border-radius: 100%;
 }

 .title_container{
   flex: 1 0 60%;
   text-align: left;
   margin: 10px;
 }
 .img_container{
   flex: 1 0 60%;
   margin: 10px;
 }
 .img_container>img{
   max-width: 100%;
   margin: 10px;
 }

 .app_details{
   align-self: flex-start;
   flex: 1 0 30%;
   margin: 10px;
 }
 .mini_nav_container{
   flex: 1 0 90%;
   text-align: center;
 }

 .commiters_container{
   flex: 1 0 30%;
 }
 .git_container{
   flex: 1 0 60%;
   text-align: center;
   justify-content: center;
 }
 .tiny_container{
   width:50%;
   margin: 0 auto;
 }
 .comments_container{
   flex: 1 0 100%;
   text-align: center;
 }


 .overview_container{
   flex: 1 0 100%;
 }

 .center-text{
   text-align: center;
 }

 .panel{
   margin: 10px;
 }

 .app_width{
   max-width: 321px;
   min-width: 320px;
 }

 .hidden {
  display: none !important;
  visibility: hidden !important;
}
