// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_mixins';
@import '_variables';

.app-container {
    @include general-container;
    margin-top: 56px;
    justify-content: center;
    .single_app {
        border: 1px solid #e6e6e6;
        min-height: 426px;
        background-color: white;
    }
}

.app-show-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 20px;
    .commiters-container{
        background-color: white;
        padding: 15px;
        align-self: flex-start;
    }
    .git-container{
        text-align: center;
        justify-content: center;
        background-color: white;
        min-height: 176px;
    }
}

.mini-header + .appcontainer{
    margin-top: 0;
}


.match-img{
    min-height: 380px;
}

.self-centered{
    margin: auto;
    margin-top: 123px;
    background-color:white;
    padding: 15px;
    background-color: lightsalmon;
}

.new-app-container{
    @include general-container;
    justify-content: center;
    align-items: center;
    height: 94vh;
}

.form-field{
    flex: 0 0 33%;
    padding: 8px;
}

.form-button-div{
    flex: 1 0 50% 
}

 @media only screen and (min-width : 10px) {
    .single_app{
        flex: 1 1 auto;
        margin: 15px 0;
    }
    .container{
        width: 100%;
    }
    .git-container{
        flex: 1 0 60%;
        margin: 10px 0;
    }
    .commiters-container{
        flex: 1 0 30%;
        margin: 10px 0;
    }
     .new-app-container{
        margin-top: 83px;
    }
   
}

 @media only screen and (min-width : 768px) {
    .single_app{
        flex: 0 0 auto;
        margin: 10px;
    }
    .container{
        width: 100%;
    }
    .tiny_container {
    width: 50%;
    margin: 0 auto;
    }
    .git-container{
        flex: 0 0 60%;
        margin: 10px;
    }
    .commiters-container{
        flex: 0 0 30%;
        margin: 10px;
    }
    .new-app-container{
        margin-top: 50px;
    }
        
}


@media only screen and (min-width : 992px) {
    .single_app{
        width: 31%;
    }
   
}