// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_mixins';
@import '_variables';

.masthead {
    padding: 230px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/landing.jpg') no-repeat center center;
    background-size: cover;
    height: 65vh;
    .header-content{
        color: white;
        font-size: 2em;
    }
}

section {
    &.section-primary{
        @include section-style(#e6ecf0)
    }
    &.section-alt{
        @include section-style(white)    
    }
    .fa-7x{
        font-size:8em;
        color: $primary;
    }
    .faq-content{
        width: 33%;
    }
}

.mini-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6ecf0;
}

.ml-auto{
    margin-left: auto;
    margin-right: 40px
}

footer{
    
    background-color: #1a1a1a ;
    ul{
        list-style: none;
        padding: 0;
        li{
            color: black;
        }
    }
}

