// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_mixins';
@import '_variables';

.masthead {
    margin-top: 52px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/landing.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display:flex;
    justify-content: center;
    &.section-primary{
        @include section-style(#e6ecf0);
    }
    &.section-alt{
        @include section-style(white);
        @include general-container();
    }
    .fa-7x{
        font-size:7em;
        color: desaturate($primary, 10%);
    }
}


.mini-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6ecf0;
    padding: 0 25px;
}

.ml-auto{
    margin-left: auto;
    margin-right: 40px
}

footer{
    
    background-color: #1a1a1a ;
    ul{
        list-style: none;
        padding: 0;
        li{
            color: black;
        }
    }
}


 @media only screen and (min-width : 10px) {
    .faq-content{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .header-content{
        color: white;
        h1{
            font-size: 3em;   
        }
    }
}

 @media only screen and (min-width : 768px) {
    .faq-content{
        width: 47%;
    }
    .container{
        width: 100%;
    }
     .header-content{
        color: white;
        h1{
            font-size: 5em;   
        }
    }
}


@media only screen and (min-width : 992px) {
    .faq-content{
        width: 33%;
    }
   
}