body{
  background-color: black;
}

.app_container{
  display:flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.center-text{
  text-align: center;
}

.panel{
  margin: 10px;
}

.app_width{
  max-width: 321px;
  min-width: 320px;

}
