body{
  background-color: black;
}

.app_container{
  display:flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.app_show_container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;

}
.creator_container{
  flex: 1 0 30%;
}
.title_container{
  flex: 1 0 60%;
}
.img_container{
  flex: 1 0 60%;
}
.img_container>img{
  max-width: 100%
}
.app_details{
  flex: 1 0 30%;
}
.mini_nav_container{
  flex: 1 0 90%;
  text-align: center;
}

.commiters_container{
  flex: 1 0 30%;
}
.git_container{
  flex: 1 0 60%;
  text-align: center;
}
.comments_container{
  flex: 1 0 100%;
  text-align: center;
}


overview_container{
  flex: 1 0 100%;
}

.center-text{
  text-align: center;
}

.panel{
  margin: 10px;
}

.app_width{
  max-width: 321px;
  min-width: 320px;
}
