// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_mixins';
@import '_variables';

.user-container{
    @include general-container
}

.top-margin {
    margin-top: 65px;
}


.profile-container{
    @include general-container;
    @include nav-margin;
    
}

.profile-photo-container{
    @include general-container;
    flex-drection: column;
    flex: 0 0 15%;
    background-color: white;
    img{
        width: 100%;
        height: auto;
    }
    input{
        width: 125px;
    }
}


.app-container {
    @include general-container;
    margin-top: 56px;
    justify-content: center;
    .single-user {
        border: 1px solid #e6e6e6;
        min-height: 426px;
        background-color: white;
        img{
            width: 100%;
        }
    }
}

.big-icon{
    font-size: 30px;
}

 @media only screen and (min-width : 10px) {
    .single-user{
        flex: 1 1 auto;
        margin: 15px 0;
    }
}

 @media only screen and (min-width : 768px) {
    .single-user{
        flex: 0 0 auto;
        margin: 10px;
    }
}


@media only screen and (min-width : 992px) {
    .single-user{
        width: 20%;
    }
   
}

