  <footer class="s24-bar text-color-white">

    <!-- Put any utility content here, such as social icons -->
    <div class="s24-bar__utilities w-full bg-color-black  m-a-0">
      <div class="container">
        <div class="row m-y">
          <div class="col-sm-8">
            <h4>AppSpark is about helping one another</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="col-sm-4">
            <h4>Address</h4>
            <address>
              <strong>Company, Inc.</strong><br>
              12345 Name Street, Suite 900<br>
              San Francisco, CA 94103<br>
              <abbr title="Phone">P:</abbr> (123) 555-2424
            </address>
          </div>
        </div>
      </div>
    </div>

    <!-- Put any utility content here, such as social icons -->
    <div class="s24-bar__utilities w-full bg-color-black-secondary m-a-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
            <p style="margin-top: 14px;">
              Copyrights © All Rights Reserved by <a class="s24-link s24-link--effect-alpha" href="#">Company</a>
            </p>
          </div>
          <div class="col-sm-3 text-xs-left text-sm-right">
            <p>end</p>
          </div>
        </div>
      </div>
    </div>
  
  </footer>